
body
{
    font-size   : large;
    font-family : Tahoma, Verdana, Segoe, sans-serif;
    
}


.container
{
    margin-top : 20px;
}


.panel-title
{
    font-weight : bold;
    font-size   : 20px;
}


.panel-body
{
    
    min-height  : 600px;
    padding     : 5px;
    padding-top : 0;
}


.userwelcome
{
    float          : left;
    color          : darkblue;
    text-transform : capitalize;
    margin-bottom  : 20px;
    margin-top     : 10px;
    
}


.userwelcome h3
{
    font-weight : bold;
    
}


.userwelcome a
{
    color       : firebrick;
    margin-left : 20px;
    font-weight : bold;
    
}


.userwelcome a:hover
{
    text-decoration : none;
    font-size       : 25px;
    color           : red;
}


.row .form-horizontal
{
    margin-top    : 20px;
    margin-bottom : 20px;
}


.delete
{
    
    text-align : center;
}


.delete-btn
{
    padding : 5px 60px 5px 60px;
    
}


select
{
    font-weight : normal;
    
}